<div id="course_info_view_index">
<% if @course_info.course_views.exists? %>
  <div id="course_info_view_index_top">
    <span id="show_course_info_teacher"><%= @course_info.teacher %></span>
    <span id="course_info_faculty"><%= @course_info.open_faculty %></span>
  </div>
<% else %>
  <div id="course_info_view_index_top">
      <span id="course_info_faculty"><%= @course_info.open_faculty %></span>
      <span id="show_course_info_teacher"><%= @course_info.teacher %></span>
  </div>
  <div id="course_info_view">
    <div class="view_text">
      <p>コメントはまだありません。</p>
    </div>
  </div>
<% end %>

<% @course_info.course_views.each do |course_view| %>
<div id="course_info_view">
<div class="view_text">
<span class="view_hide_<%= course_view.id %>"><%=hbr course_view.view[0..79] %></span><span class="view_show_<%= course_view.id %>" style="display: none"><%=hbr course_view.view[80..-1] %></span>
<% unless course_view.view.length < 80 %>
<span class="show_dod_<%= course_view.id %>">...</span>
<p id="tuduki"><span class="show" data-num="<%= course_view.id %>">続きを読む</span></p>

<% end %>
</div>
<% @writer_member = Member.find_by_id(course_view.member_id) %>
<% if request.env['HTTP_USER_AGENT'].match(/\b(iPhone)\b/) %>
<p id="view_footer"><span class="response_add_button" data-num="<%= course_view.id %>" style="font-size: 0.7em">返信</span><span class="response_comment" style="font-size: 0.7em"><%= link_to 'コメント', course_view %><span style="font-size: 0.7em">(<%= Response.where(course_view_id: course_view.id).count %>)</span></span>
<span id="create_time" style="font-size: 0.7em"><%= course_view.created_at.strftime("%Y/%m/%d") %></span><span id="writer" style="font-size: 0.7em"><%= @writer_member.faculty %>生</span></p>
<% else %>
<p id="view_footer"><span class="response_add_button" data-num="<%= course_view.id %>">返信</span><span class="response_comment"><%= link_to 'コメント', course_view %><span style="font-size: 0.8em">(<%= Response.where(course_view_id: course_view.id).count %>)</span></span>
<span id="create_time"><%= course_view.created_at.strftime("%Y/%m/%d") %></span><span id="writer"><%= @writer_member.faculty %>生</span></p>
<% end %>
</div>
  <div class="response_add" id="response_add_<%= course_view.id %>">
    <%= form_for @response , :url => [:response_create, @course_info, course_view]  do |form| %>
    <%= form.text_area :view_response, rows: 1, cols: 45, :placeholder => "このコメントについてどう思う？" %>
    <%= form.submit "コメント", :class => "response_create_button" %>
  <% end %>
</div>
<% end %>
</div>
