<div id="course_new_form">

<div id="course_title">
<p class="course_form_label">講義名</p>
<p><%= form.text_field :title, :class => "course_input" %></p>
<%= format_error_message(@course_info, :title, form).html_safe %>
</div>

<div id="course_teacher">
<p class="course_form_label">教員名</p>
<p style="margin-top: -5px;"><%= form.text_field :teacher, :class => "course_input" %></p>
<%= format_error_message(@course_info, :teacher, form).html_safe %>
</div>

<div id="course_open_faculty">
<p><%= form.select :open_faculty, 
["政治経済学部", "法学部", "第一文学部", "第二文学部", "教育学部", "商学部", "社会科学部", "人間科学部", "スポーツ科学部", "国際教養学部", "文化構想学部", "文学部",
 "基幹理工学部", "創造理工学部", "先進理工学部", "諸研究科" "ＭＮＣ", "日本語", "留学", "オープン教育", "その他"] %></p>
</div>

<div id="course_day_of_the_week">
<p><%= form.select :day_of_the_week, ["月", "火", "水", "木", "金", "土", "日", "無"] %></p>
</div>

<div id="course_open_time">
<p><%= form.select :open_time, [["1時限", 1], ["2時限", 2], ["3時限", 3], ["4時限", 4], ["5時限", 5], ["6時限", 6], ["7時限", 7], ["フルオンデマンド", 8], ["その他", 9]] %></p>
</div>

<div id="course_open_term">
<p><%= form.select :open_term, ["春期", "秋期", "通年", "その他"] %></p>
</div>

</div>
