<div id="course_info">
<% if request.smart_phone? %>
<%= render "shared/errors", obj: @course_view %>
<div id="course_info_head">
<h1 id="course_info_title">「<%= @course_info.title %>」</h1>
  <div id="course_info_detail">
    <div class="course_info_show_option">
        <span>GPA</span>
      <% if request.env['HTTP_USER_AGENT'].match(/\b(iPhone)\b/) %>
      <% if @course_info.teacher_ranks.exists? %>
        <span class="teacher_rank_point" style="font-size: 2.5em;"><%= number_with_precision(@average_teacher_rank, :precision => 1) %></span>
      <% else %>
        <span class="teacher_rank_point" style="font-size: 2.5em;">-</span>
      <% end %>
      <% else %>
      <% if @course_info.teacher_ranks.exists? %>
        <span class="teacher_rank_point" style="font-size: 3.3em;"><%= number_with_precision(@average_teacher_rank, :precision => 1) %></span>
      <% else %>
        <span class="teacher_rank_point" style="font-size: 3.3em;">-</span>
      <% end %>
      <% end %>
        <span class="teacher_rank_prompt" style="font-size: 1.4em; border: 2px solid silver; padding: 3px; border-radius: 5px;">評価</span>

      <% if @current_member %>
        
      <% if request.env['HTTP_USER_AGENT'].match(/\b(iPhone)\b/) %>
      <% if @current_member.take_course_for?(@course_info) %>
        <%= link_to image_tag("risyuu.png", :class => "iPhone_risyuu_icon"), [:take_course_create, @course_info], method: :post %>
      <% else %>
        <%= link_to image_tag("risyuu2.png", :class => "iPhone_risyuu_icon"), [:not_take, @course_info], method: :put %>
      <% end %>
      
      <% if @current_member.like_for?(@course_info) %>
        <%= link_to image_tag("good.png", :class => "iPhone_good_icon"), [:like, @course_info], method: :put, class: "button" %>
      <% else %>
        <%= link_to image_tag("good2.png", :class => "iPhone_good_icon"), [:unlike, @course_info], method: :put %>
      <% end %>
      
      <% else %>
      
      <% if @current_member.take_course_for?(@course_info) %>
        <%= link_to image_tag("risyuu.png", :class => "risyuu_icon"), [:take_course_create, @course_info], method: :post %>
      <% else %>
        <%= link_to image_tag("risyuu2.png", :class => "risyuu_icon"), [:not_take, @course_info], method: :put %>
      <% end %>
      
      <% if @current_member.like_for?(@course_info) %>
        <%= link_to image_tag("good.png", :class => "good_icon"), [:like, @course_info], method: :put, class: "button" %>
      <% else %>
        <%= link_to image_tag("good2.png", :class => "good_icon"), [:unlike, @course_info], method: :put %>
      <% end %>
      
      <% end %>
      <% else %>
        
      <% if request.env['HTTP_USER_AGENT'].match(/\b(iPhone)\b/) %>
        <%= image_tag("risyuu2.png", :class => "iPhone_risyuu_icon") %>
        <%= image_tag("good2.png", :class => "iPhone_good_icon") %>      
      <% else %>
        <%= image_tag("risyuu2.png", :class => "risyuu_icon") %>
        <%= image_tag("good2.png", :class => "good_icon") %>
      <% end %>
        
      <% end %>
    </div>
  </div>

<div id="course_info_view_new">
<% if @current_member %>
  <%= form_for @course_view, :url => { :action => "view_create" }  do |form| %>
    <%= form.text_area :view, :placeholder => "この講義どうだった？" %>
    <div id="course_info_view_option">
         <%= form.submit "加筆", :id => "course_view_kahitu_button" %>
    </div>
  <% end %>
<% else %>
    <textarea rows="8" cols="50" placeholder="Course Viewに参加すると講義について自由に加筆できます！" ></textarea>
      <div id="course_info_view_option">
      <input id="course_view_kahitu_button" type="button" value="加筆!" />
    </div>

<% end %>
</div>
</div>
<% else %>
<h1 id="course_info_title">「<%= @course_info.title %>」</h1>
<%= render "shared/errors", obj: @course_view %>
<div id="course_info_head">
  <div id="course_info_detail">

  <table id="teacher_rank">
  <tr>
      <td class="label">GPA</td>
  </tr>
  <tr>
      <% if @course_info.teacher_ranks.exists? %>
      <td class="point"><%= number_with_precision(@average_teacher_rank, :precision => 1) %></td>
      <% else %>
      <td class="point">-</td>
      <% end %>
  </tr>
  <tr><td class="teacher_rank_prompt">評価</td></tr>
  <tr>
     <% if (like_count = @course_info.likes.count) > 0 %>
       <td id="like">good!&nbsp;<%= like_count %></td>
     <% else %>
       <td id="like">good!&nbsp;0</td>
     <% end %>
   </tr>
  </table>
    <% if @current_member %>
    <div class="course_info_show_option">
      <% if @current_member.take_course_for?(@course_info) %>
        <%= link_to image_tag("risyuu.png", :class => "risyuu_icon"), [:take_course_create, @course_info], method: :post %>
      <% else %>
        <%= link_to image_tag("risyuu2.png", :class => "risyuu_icon"), [:not_take, @course_info], method: :put %>
      <% end %>
      
      <% if @current_member.like_for?(@course_info) %>
        <%= link_to image_tag("good.png", :class => "good_icon"), [:like, @course_info], method: :put, class: "button" %>
      <% else %>
        <%= link_to image_tag("good2.png", :class => "good_icon"), [:unlike, @course_info], method: :put %>
      <% end %>
      
    </div>
    <% else %>
      <div class="course_info_show_option">
        <%=  image_tag("risyuu2.png", :class => "risyuu_icon") %>
        <%=  image_tag("good2.png", :class => "good_icon") %>
      </div>
    <% end %>
  </div>

<div id="course_info_view_new">
<% if @current_member %>
  <%= form_for @course_view, :url => { :action => "view_create" }  do |form| %>

    <%= form.text_area :view, :placeholder => "この講義どうだった？" %>
      <div id="course_info_view_option">
         <%= form.submit "加筆", :id => "course_view_kahitu_button" %>
    </div>
  <% end %>
<% else %>
    <textarea rows="8" cols="50" placeholder="Course Viewに参加すると講義について自由に加筆できます！" ></textarea>
    <div id="course_info_view_option">
      <input id="guest_view_add_button" type="button" value="加筆!" />
    </div>
<% end %>
</div>
</div>
<% end %>
<% if @current_member %>
  <%= render "courseinfoview" %>
<% else %>
  <%= render "courseinfoview_before_login" %>
<% end %>
</div>

    <div id="cover"></div>
    <% if @current_member %>
    <div id="teacher_rank_prompt">
      <p id="teacher_rank_colse_button">×</p>
      <p id="teacher_rank_text"><%= @course_info.teacher %>教授を評価しよう！</p>
      <%= form_for @teacher_rank, :url => { :action => "teacher_rank_create" } do |form| %>
      <% if TeacherRank.where(course_info_id: @course_info.id, member_id: @current_member.id).exists? %>
      <p align="center"><%= form.select :teacher_rank, [["取消", nil], ["A+", 4], [ "A", 3], ["B", 2], ["C", 1], ["F", 0]] %></p>
      <% else %>
      <p align="center"><%= form.select :teacher_rank, [["A+", 4], [ "A", 3], ["B", 2], ["C", 1], ["F", 0]] %></p>
      <% end %>
      <%= form.submit "評価する!", :id => "teacher_rank_button" %>
      <% end %>
    </div>
    
    <% else %>
    <div id="teacher_rank_prompt">
      <p id="teacher_rank_colse_button">×</p>
      <p id="teacher_rank_text"><%= @course_info.teacher %>教授を評価しよう！</p>
      <p align="center"><select id="teacher_rank_teacher_rank">
      <option value="4">A+</option>
      <option value="3">A</option>
      <option value="2">B</option>
      <option value="1">C</option>
      <option value="0">F</option></select></p>
      <input id="teacher_rank_button" type="button" value="評価する!" />
    </div>
    <% end %>


