<% @page_title = @course_view.view_title + "を変更" %>
<h1><%= @page_title %></h1>

<p><%= link_to "講義に戻る", @course_info %></p>

<%= form_for @course_view do |form| %>
<%= render "form", form: form %>
<p><%= form.submit %></p>
<% end %>
