<div id="course_view_show">
<div id="course_view_text">
  <%=hbr @course_view.view %>
  <% @view_writer_member = @course_view.member %>
  <p id="view_footer" style="border-top: solid 1px #000000"><span class="show_response_add_button" data-num="<%= @course_view.id %>">返信</span><span id="writer"><%= @view_writer_member.faculty %>生</span><span id="create_time"><%= @course_view.created_at.strftime("%Y/%m/%d") %></span></p>
</div>
<div class="show_response_add" id="response_add_<%= @course_view.id %>">
  <%= form_for @response , :url => { :action => "response_create", :controller => "course_views" }  do |form| %>
    <% if request.smart_phone? %>
      <%= form.text_area :view_response, rows: 1, cols: 35, :placeholder => "このコメントについてどう思う？" %>
      <%= form.submit "コメント", :class => "response_create_button" %>
    <% else %>
      <%= form.text_area :view_response, rows: 1, cols: 60, :placeholder => "このコメントについてどう思う？" %>
      <%= form.submit "コメント", :class => "response_create_button" %>
    <% end %>
  <% end %>
</div>
<% @course_view.responses.each do |response| %>
  <div class="view_show_response">
    <%=hbr response.view_response %>
<% @writer_member = Member.find_by_id(response.member_id) %>
<p id="view_footer" style="border-top: solid 1px silver">
<% if response.member_id = @current_member.id %>
  <span class="response_delete"><%= link_to "削除", response, method: :delete, confirm: "削除しますか？"%></span>
<% end %>
<span class="response_create_time"><%= response.created_at.strftime("%Y/%m/%d") %></span>
<span id="writer"><%= @writer_member.faculty %>生</span></p>
  </div>
<% end %>

</div>
