<% if @current_member %>
<div id="menu_icons">
<% unless request.smart_phone? %>
  <%= link_to image_tag("home.png", :size => "35x64"), :account %>
  <%= link_to image_tag("course.png", :size => "35x64"), :course_infos %>
  <%= link_to image_tag("schedule.png", :size => "35x64"), :schedule_account %>
  <%= link_to image_tag("comment.png", :size => "35x64"), :comment_account %>
  <%= link_to image_tag("log.png", :size => "35x64"), :timeline_account %>
  <%= link_to image_tag("setting.png", :size => "35x64"), :setting_account %>
<% else %>
  <%= link_to image_tag("account_sp.png"), :account %>
  <%= link_to image_tag("course_sp.png"), :course_infos %>
  <%= link_to image_tag("schedule_sp.png"), :schedule_account %>
  <%= link_to image_tag("comment_sp.png"), :comment_account %>
  <%= link_to image_tag("timeline_sp.png"), :timeline_account %>
  <%= link_to image_tag("setting_sp.png"), :setting_account %>
<% end %>
</div>
<% end %>
<% unless request.smart_phone? %>
<div id="footer">
  <hr>
  <p align="center">Copyright &copy; 2013 <%= link_to "Rabbit Network", "http://rabbit-network.com/" %> All rights reserved.

  <%= link_to "利用規約", use_policy_path %> | 
  <%= link_to "プライバシーポリシー", privacy_path %> 
  <% if @current_member %>
  <% if @current_member.try(:administrator?) %> | 
  <%= menu_link_to "管理者", :admin_root %></p>
  <% else %>
  </p>
  <% end %>
  <% end %>
</div>
<% end %>
                                             
