<div id="header_back"></div>
<div id="header_title"><%= image_tag "title.png", :class => "course_view_title" %></div>
<% unless @current_member %>
  <div>
    <%= render "shared/login_form" %>
  </div>
<% else %>
  <% unless controller.kind_of?(Admin::Base) %>
  <div id="search">
    <%= form_tag :search_course_infos, method: :get do %>
      <p id="header_rabbit"><%= image_tag "rabbit.png", width: 30, :class => "rabbit" %></p>
      <% if request.smart_phone? %>
      <p id="search_str"><%= text_field_tag :course_and_teacher, params[:course_and_teacher], :type => "search" %>
      <% else %>
      <p id="search_str"><%= text_field_tag :course_and_teacher, params[:course_and_teacher], :placeholder => "講義/教授" %>
      <p id="search_button"><%= image_submit_tag("loupe.png") %></p>
      <% end %>
    <% end %>
  </div>
  <% else %>
  <% end %>
<% end %>
<% if controller.kind_of?(Admin::Base) %>


<div id="menu_box">
<%= image_tag "rabbit.png", :class => "rabbit" %>
<p class="top_menu"><span class="course_view_link"><%= menu_link_to "Course View", [:admin, :course_infos] %></span><span class="pulldown_menu_open">▼</span><span class="pulldown_menu_close">▼</span><p>

<div class="menu_box_label" style="border-top: solid 1px #000000">
<p class="admin_menu_label"><%= menu_link_to "一般モード", root_path %></p>
<p class="admin_menu_label"><%= menu_link_to "管理トップ", :admin_root %></p>
<p class="admin_menu_label"><%= menu_link_to "ユーザー管理", :admin_members %></p>
<p class="admin_menu_label"><%= menu_link_to "講義管理", :admin_course_infos %></p>
<p class="admin_menu_label" style="border-bottom: solid 1px #000000"><%= menu_link_to "サークル管理", "#" %></p>
</div>
</div>
<% end %>
  <% if flash.notice %>
    <div id="notice" style="display: none">
      <p class="notice"><%= flash.notice %></p>
    </div>
  <% end %>



