<div id="login_form">
  <% unless request.smart_phone? %>
  <p id="header_rabbit"><%= image_tag "rabbit.png", width: 30, :class => "rabbit_before_login" %></p>
  <% end %>
<%= form_tag :session do %>
<% unless request.smart_phone? %>
<table id="login_form">
<tr>
<td class="login_label">メールアドレス</td>
<td class="login_label">パスワード</td>
<td></td>
</tr>
<tr>
<td><%= text_field_tag "email", "", style: "width: 120px" %></td>
<td><%= password_field_tag "password", "", style: "width: 120px" %></td>
<td id="bottun"><%= submit_tag "login" %></td>
</tr>
</table>
<% else %>
<div id="sp_login_form">
  <p><%= image_tag("rabbit.png", :class => "sp_login_rabbit") %></p>
  <p><%= image_tag("course_view_login.png", :class => "sp_login_logo") %></p>
  <p class="sp_login_form_label" style="margin-right: 180px;">ID:</p>
  <p><%= text_field_tag "email", "", :class => "sp_login_form_input" %></p>
  <p class="sp_login_form_label" style="margin-right: 178px;">Pass:</p>
  <p><%= password_field_tag "password", "", :class => "sp_login_form_input" %></p>
  <p><%= image_submit_tag("login.png", :class => "sp_login_form_session_button") %></p>
</div>
<% end %>
<%= hidden_field_tag "form", request.path %>
<% end %>
<% unless controller.kind_of?(MembersController) %>
<% if flash.alert %>
<p class="alert"><%= flash.alert %></p>
<p class="alert"><%= link_to "パスワードを忘れてしまった場合", :forgot_password %></p>
<% end %>
<% end %>

</div>
