<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title><%= page_title %></title>
  <%= stylesheet_link_tag "smart_phone" %>
  <%= javascript_include_tag "smart_phone" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'rabbit-icon.ico' %>
  <meta name="keywords" content="早稲田,waseda,講義,サークル,プラットフォーム" />
  <meta name="description" content="Course Viewは早稲田生が参加できる、講義情報を共有でき、サークル情報を発信・閲覧できるプラットフォームです。時間割やメモなどの自己管理機能もあり、学生生活に欠かせないwebサービスを目指しています。" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-41959673-1', 'course-view.com');
      ga('send', 'pageview');
    </script>
</head>
<% if  controller.kind_of?(SessionsController) %>
  <body id="session">
<% else %>
<body>
<% end %>
  <div id="loader">
    <%= image_tag "loader.gif", width: 50, :alt => "Loading..." %>
  </div>
<div id="container">
  <div id="header">
    <%= render "shared/header" %>
  </div>


  <%= yield %>

  <% if request.smart_phone? %>
    <div id="sp_footer"></div>
  <% end %>
  <div id="footer">
    <%= render "shared/footer" %>
  </div>
</div>

</body>
</html>

