<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title><%= page_title %></title>
  <%= stylesheet_link_tag "smart_phone" %>
  <%= javascript_include_tag "smart_phone" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'rabbit-icon.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="keywords" content="早稲田,waseda,講義,サークル,プラットフォーム" />
  <meta name="description" content="Course Viewは早稲田生が参加できる、講義情報を共有でき、サークル情報を発信・閲覧できるプラットフォームです。時間割やメモなどの自己管理機能もあり、学生生活に欠かせないwebサービスを目指しています。" />
</head>
<body>
<div id="container">
  <div id="header">
    <%= render "shared/header" %>
  </div>
  <div style="margin-left: 10px;">
<%= yield %>
</div>
  <div id="footer">
<%= render "shared/footer" %>
  </div>
</div>

</body>
</html>
