<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title><%= page_title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'rabbit-icon.ico' %>
</head>
<body>
<div id="container">
  <div id="header">
    <div id="course_view_title" style="margin-top: 30px; margin-left: -10px;">
      <%= image_tag "rabbit.png", width: 35, :class => "rabbit_before_login" %>
      <h1>Course View</h1><h5>@waseda</h5>
    </div>
  </div>

<%= yield %>

  <div id="footer">
<%= render "shared/footer" %>
  </div>
</div>

</body>
</html>
