<div id="member_new_form">

<div id="member_family_name">
<p class="member_form_label" align="left">氏</p>
<p><%= form.text_field :family_name, :class => "member_input_family_name", :placeholder => "早稲田" %></p>
<%= format_error_message(@member, :family_name, form).html_safe %>
</div>

<div id="member_first_name">
<p class="member_form_label" align="left">名</p>
<p><%= form.text_field :first_name, :class => "member_input_first_name", :placeholder => "太郎" %></p>
<%= format_error_message(@member, :first_name, form).html_safe %>
</div>

<div id="member_email">
  <p class="member_form_label" align="left">メールアドレス</p>
<p><%= form.text_field :email, :class => "member_input",:placeholder => "ex) taro@fuji.waseda.jp" %></p>
<%= format_error_message(@member, :email, form).html_safe %>
</div>

<div id="member_email_confirmation">
<p class="member_form_label" align="left">メールアドレス確認</p>
<p><%= form.text_field :email_confirmation, :class => "member_input" %></p>
<%= format_error_message(@member, :email_confirmation, form).html_safe %>
</div>

<div id="member_faculty">
<p class="member_form_label" align="left">学部</p>
<p><%= form.select :faculty, ["政治経済学部", "法学部", "第一文学部", "第二文学部", "文化構想学部", "文学部", "教育学部", "商学部", "基幹理工学部", "創造理工学部", "先進理工学部", "社会科学部", "人間科学部", "スポーツ科学部", "国際教養学部", "その他"] %></p>
</div>

<div id="member_subject">
<p class="member_form_label" align="left">学科</p>
<p><%= form.select :subject, ["政治学科", "経済学科", "国際政治経済学科", "教育学専修", "生涯教育学専修", "教育心理学専修", "初等教育学専攻", "国語国文学科", "英語英文学科", "地理歴史専修",
  "社会科学専修", "生物学専修", "地球科学専修", "数学科", "複合文化学科", "数学科", "応用数理学科", "情報理工学科", "機械科学・航空学科", "電子光システム学科", "表現工学科",
  "建築学科", "総合機械工学科", "経営システム工学科", "社会環境工学科", "環境資源工学科", "物理学科", "応用物理学科", "化学・生命化学", "応用化学科", "生命医科学科", "電気・情報生命工学科",
  "人間環境科学科", "健康福祉科学科", "人間情報科学科", "無し", "その他"] %></p>
<% if flash.alert %>
<p class="error_message" style="font-weight: normal;"><%= flash.alert %></p>
<% end %>
</div>

<div id="member_gender">
<p>
        <%= form.radio_button :gender, 0 %>
        <%= form.label :gender_0, "男" %>
        <%= form.radio_button :gender, 1 %>
        <%= form.label :gender_1, "女" %>
</p>
</div>

<div id="member_check">
<% if request.smart_phone? %>
<p><input type="checkbox" id="check">&nbsp;&nbsp;<%= link_to "利用規約", use_policy_path %>
/<%= link_to "プライバシーポリシー", privacy_path %>
</p>
<p style="margin-left: 100px;">に同意する</p>
<% else %>
<p><input type="checkbox" id="check">&nbsp;&nbsp;<%= link_to "利用規約", use_policy_path %>
/<%= link_to "プライバシーポリシー", privacy_path %>に同意する</p>
<% end %>
</div>

</div>
