<% if @current_member %>
<%= render "shared/errors", obj: @member %>
<%= form_for @current_member do |form| %>
<table class="user">
  <tr>
    <th class="label"><%= form.label :password, "パスワード(8桁-16桁の半角英数字)" %></th>
    <td class="detail"><%= form.password_field :password, size: 20 %></td>
  </tr>
  <tr>
    <th class="label"><%= form.label :password_confirmation, "パスワード確認" %></th>
    <td class="detail"><%= form.password_field :password_confirmation, size: 20 %></td>
  </tr>
</table>
<p><%= form.submit %></p>
<% end %>
<% end %>
