<div id="account_schedule">
  <p id="account_schedule_delete_button" style="display: none">×</p>
<table id="account_schedule">
<tr>
<td class="schedule_time_week"></td>
<td>月</td>
<td>火</td>
<td>水</td>
<td>木</td>
<td>金</td>
<td>土</td>
</tr>

<tr>
<td class="schedule_label">1</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 1 && take_course.take_course_open_week == "月" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
        <%= link_to take_course.take_course_title, @course_info %>
    <% end %>
  <% end %>
</td>

<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 1 && take_course.take_course_open_week == "火" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
        <%= link_to take_course.take_course_title, @course_info %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 1 && take_course.take_course_open_week == "水" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
        <%= link_to take_course.take_course_title, @course_info %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 1 && take_course.take_course_open_week == "木" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
        <%= link_to take_course.take_course_title, @course_info %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 1 && take_course.take_course_open_week == "金" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
        <%= link_to take_course.take_course_title, @course_info %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 1 && take_course.take_course_open_week == "土" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
        <%= link_to take_course.take_course_title, @course_info %>
    <% end %>
  <% end %>
</td>
</tr>

<tr>
<td class="schedule_label">2</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 2 && take_course.take_course_open_week == "月" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
        <%= link_to take_course.take_course_title, @course_info %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 2 && take_course.take_course_open_week == "火" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
        <%= link_to take_course.take_course_title, @course_info %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 2 && take_course.take_course_open_week == "水" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
        <%= link_to take_course.take_course_title, @course_info %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 2 && take_course.take_course_open_week == "木" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
        <%= link_to take_course.take_course_title, @course_info %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 2 && take_course.take_course_open_week == "金" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
        <%= link_to take_course.take_course_title, @course_info %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 2 && take_course.take_course_open_week == "土" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
        <%= link_to take_course.take_course_title, @course_info %>
    <% end %>
  <% end %>
</td>
</tr>

<tr>
<td class="schedule_label">3</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 3 && take_course.take_course_open_week == "月" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
        <%= link_to take_course.take_course_title, @course_info %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 3 && take_course.take_course_open_week == "火" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
        <%= link_to take_course.take_course_title, @course_info %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 3 && take_course.take_course_open_week == "水" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
        <%= link_to take_course.take_course_title, @course_info %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 3 && take_course.take_course_open_week == "木" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
        <%= link_to take_course.take_course_title, @course_info %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 3 && take_course.take_course_open_week == "金" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
        <%= link_to take_course.take_course_title, @course_info %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 3 && take_course.take_course_open_week == "土" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
        <%= link_to take_course.take_course_title, @course_info %>
    <% end %>
  <% end %>
</td>
</tr>

<tr>
<td class="schedule_label">4</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 4 && take_course.take_course_open_week == "月" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
        <%= link_to take_course.take_course_title, @course_info %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 4 && take_course.take_course_open_week == "火" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
        <%= link_to take_course.take_course_title, @course_info %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 4 && take_course.take_course_open_week == "水" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
        <%= link_to take_course.take_course_title, @course_info %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 4 && take_course.take_course_open_week == "木" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
        <%= link_to take_course.take_course_title, @course_info %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 4 && take_course.take_course_open_week == "金" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
        <%= link_to take_course.take_course_title, @course_info %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 4 && take_course.take_course_open_week == "土" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
        <%= link_to take_course.take_course_title, @course_info %>
    <% end %>
  <% end %>
</td>
</tr>

<% if @current_member.take_courses.where(take_course_open_time: 5).exists? %>
<tr>
<td class="schedule_label">5</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 5 && take_course.take_course_open_week == "月" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
        <%= link_to take_course.take_course_title, @course_info %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 5 && take_course.take_course_open_week == "火" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
        <%= link_to take_course.take_course_title, @course_info %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 5 && take_course.take_course_open_week == "水" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
        <%= link_to take_course.take_course_title, @course_info %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 5 && take_course.take_course_open_week == "木" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
        <%= link_to take_course.take_course_title, @course_info %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 5 && take_course.take_course_open_week == "金" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
        <%= link_to take_course.take_course_title, @course_info %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 5 && take_course.take_course_open_week == "土" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
        <%= link_to take_course.take_course_title, @course_info %>
    <% end %>
  <% end %>
</td>
</tr>
<% end %>

<% if @current_member.take_courses.where(take_course_open_time: 6).exists? %>
<tr>
<td class="schedule_label">6</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 6 && take_course.take_course_open_week == "月" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
        <%= link_to take_course.take_course_title, @course_info %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 6 && take_course.take_course_open_week == "火" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
        <%= link_to take_course.take_course_title, @course_info %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 6 && take_course.take_course_open_week == "水" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
        <%= link_to take_course.take_course_title, @course_info %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 6 && take_course.take_course_open_week == "木" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
        <%= link_to take_course.take_course_title, @course_info %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 6 && take_course.take_course_open_week == "金" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
        <%= link_to take_course.take_course_title, @course_info %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 6 && take_course.take_course_open_week == "土" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
        <%= link_to take_course.take_course_title, @course_info %>
    <% end %>
  <% end %>
</td>
</tr>
<% end %>

<% if @current_member.take_courses.where(take_course_open_time: 7).exists? %>
<tr>
<td class="schedule_label">7</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 7 && take_course.take_course_open_week == "月" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
        <%= link_to take_course.take_course_title, @course_info %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 7 && take_course.take_course_open_week == "火" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
        <%= link_to take_course.take_course_title, @course_info %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 7 && take_course.take_course_open_week == "水" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
        <%= link_to take_course.take_course_title, @course_info %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 7 && take_course.take_course_open_week == "木" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
        <%= link_to take_course.take_course_title, @course_info %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 7 && take_course.take_course_open_week == "金" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
        <%= link_to take_course.take_course_title, @course_info %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 7 && take_course.take_course_open_week == "土" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
        <%= link_to take_course.take_course_title, @course_info %>
    <% end %>
  <% end %>
</td>
</tr>
<% end %>

</table>
</div>
