<div id="account_setting">
<% if request.smart_phone? %>
  <div id="sp_account_setting">
      <p class="password_setting_button">パスワードの変更</p>
      <%= render "password" %>
      <p class="withdrawal_setting_button">退会</p>
      <%= render "withdrawal" %>
      <p class="logout_button"><%= link_to "ログアウトする", :session, method: :delete, confirm: "本当にログアウトしますか？", :class => "logout_button" %></p>
  </div>
<% else %>
    <div id="pc_account_setting">
      <p class="password_setting_button">パスワードの変更</p>
      <%= render "password" %>
      <p class="withdrawal_setting_button">退会</p>
      <%= render "withdrawal" %>
      <p class="logout_button"><%= link_to "ログアウトする", :session, method: :delete, confirm: "本当にログアウトしますか？", :class => "logout_button" %></p>
    </div>
<% end %>
</div>