<div id="account_view_cover"></div>

<div id="mypage">
<table id="account_head">


<tr>
<td colspan="7" class="account_title">
  <p id="account_name"><%= @current_member.family_name + @current_member.first_name %></p>
  <p class="account_info"><%= @member.faculty %></p>
  <p class="account_info"><%= @member.subject %></p>
  <p id="account_view_add_button">加筆した講義▼</p>
  <p id="account_schedule_add_button">時間割▼</p>
</td>

</table>
</div>
<div id="account_schedule">
  <p id="account_schedule_delete_button" style="display: none">×</p>
<table id="account_schedule">
<tr>
<td class="schedule_time_week"></td>
<td>月</td>
<td>火</td>
<td>水</td>
<td>木</td>
<td>金</td>
<td>土</td>
</tr>

<tr>
<td class="schedule_label">1</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 1 && take_course.take_course_open_week == "月" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
      <% if take_course.take_course_title.length >= 10 %>
        <%= link_to truncate(take_course.take_course_title, :length => 11), @course_info %>
     <% else %>
        <%= link_to take_course.take_course_title, @course_info %>
      <% end %>
    <% end %>
  <% end %>
</td>

<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 1 && take_course.take_course_open_week == "火" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
      <% if take_course.take_course_title.length >= 10 %>
        <%= link_to truncate(take_course.take_course_title, :length => 11), @course_info %>
     <% else %>
        <%= link_to take_course.take_course_title, @course_info %>
      <% end %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 1 && take_course.take_course_open_week == "水" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
      <% if take_course.take_course_title.length >= 10 %>
        <%= link_to truncate(take_course.take_course_title, :length => 11), @course_info %>
     <% else %>
        <%= link_to take_course.take_course_title, @course_info %>
      <% end %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 1 && take_course.take_course_open_week == "木" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
      <% if take_course.take_course_title.length >= 10 %>
        <%= link_to truncate(take_course.take_course_title, :length => 11), @course_info %>
     <% else %>
        <%= link_to take_course.take_course_title, @course_info %>
      <% end %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 1 && take_course.take_course_open_week == "金" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
      <% if take_course.take_course_title.length >= 10 %>
        <%= link_to truncate(take_course.take_course_title, :length => 11), @course_info %>
     <% else %>
        <%= link_to take_course.take_course_title, @course_info %>
      <% end %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 1 && take_course.take_course_open_week == "土" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
      <% if take_course.take_course_title.length >= 10 %>
        <%= link_to truncate(take_course.take_course_title, :length => 11), @course_info %>
     <% else %>
        <%= link_to take_course.take_course_title, @course_info %>
      <% end %>
    <% end %>
  <% end %>
</td>
</tr>

<tr>
<td class="schedule_label">2</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 2 && take_course.take_course_open_week == "月" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
      <% if take_course.take_course_title.length >= 10 %>
        <%= link_to truncate(take_course.take_course_title, :length => 11), @course_info %>
     <% else %>
        <%= link_to take_course.take_course_title, @course_info %>
      <% end %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 2 && take_course.take_course_open_week == "火" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
      <% if take_course.take_course_title.length >= 10 %>
        <%= link_to truncate(take_course.take_course_title, :length => 11), @course_info %>
     <% else %>
        <%= link_to take_course.take_course_title, @course_info %>
      <% end %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 2 && take_course.take_course_open_week == "水" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
      <% if take_course.take_course_title.length >= 10 %>
        <%= link_to truncate(take_course.take_course_title, :length => 11), @course_info %>
     <% else %>
        <%= link_to take_course.take_course_title, @course_info %>
      <% end %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 2 && take_course.take_course_open_week == "木" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
      <% if take_course.take_course_title.length >= 10 %>
        <%= link_to truncate(take_course.take_course_title, :length => 11), @course_info %>
     <% else %>
        <%= link_to take_course.take_course_title, @course_info %>
      <% end %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 2 && take_course.take_course_open_week == "金" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
      <% if take_course.take_course_title.length >= 10 %>
        <%= link_to truncate(take_course.take_course_title, :length => 11), @course_info %>
     <% else %>
        <%= link_to take_course.take_course_title, @course_info %>
      <% end %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 2 && take_course.take_course_open_week == "土" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
    <% end %>
  <% end %>
</td>
</tr>

<tr>
<td class="schedule_label">3</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 3 && take_course.take_course_open_week == "月" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
      <% if take_course.take_course_title.length >= 10 %>
        <%= link_to truncate(take_course.take_course_title, :length => 11), @course_info %>
     <% else %>
        <%= link_to take_course.take_course_title, @course_info %>
      <% end %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 3 && take_course.take_course_open_week == "火" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
      <% if take_course.take_course_title.length >= 10 %>
        <%= link_to truncate(take_course.take_course_title, :length => 11), @course_info %>
     <% else %>
        <%= link_to take_course.take_course_title, @course_info %>
      <% end %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 3 && take_course.take_course_open_week == "水" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
      <% if take_course.take_course_title.length >= 10 %>
        <%= link_to truncate(take_course.take_course_title, :length => 11), @course_info %>
     <% else %>
        <%= link_to take_course.take_course_title, @course_info %>
      <% end %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 3 && take_course.take_course_open_week == "木" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
      <% if take_course.take_course_title.length >= 10 %>
        <%= link_to truncate(take_course.take_course_title, :length => 11), @course_info %>
     <% else %>
        <%= link_to take_course.take_course_title, @course_info %>
      <% end %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 3 && take_course.take_course_open_week == "金" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
v    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 3 && take_course.take_course_open_week == "土" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
      <% if take_course.take_course_title.length >= 10 %>
        <%= link_to truncate(take_course.take_course_title, :length => 11), @course_info %>
     <% else %>
        <%= link_to take_course.take_course_title, @course_info %>
      <% end %>
    <% end %>
  <% end %>
</td>
</tr>

<tr>
<td class="schedule_label">4</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 4 && take_course.take_course_open_week == "月" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
      <% if take_course.take_course_title.length >= 10 %>
        <%= link_to truncate(take_course.take_course_title, :length => 11), @course_info %>
     <% else %>
        <%= link_to take_course.take_course_title, @course_info %>
      <% end %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 4 && take_course.take_course_open_week == "火" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
      <% if take_course.take_course_title.length >= 10 %>
        <%= link_to truncate(take_course.take_course_title, :length => 11), @course_info %>
     <% else %>
        <%= link_to take_course.take_course_title, @course_info %>
      <% end %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 4 && take_course.take_course_open_week == "水" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
v    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 4 && take_course.take_course_open_week == "木" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
      <% if take_course.take_course_title.length >= 10 %>
        <%= link_to truncate(take_course.take_course_title, :length => 11), @course_info %>
     <% else %>
        <%= link_to take_course.take_course_title, @course_info %>
      <% end %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 4 && take_course.take_course_open_week == "金" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
      <% if take_course.take_course_title.length >= 10 %>
        <%= link_to truncate(take_course.take_course_title, :length => 11), @course_info %>
     <% else %>
        <%= link_to take_course.take_course_title, @course_info %>
      <% end %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 4 && take_course.take_course_open_week == "土" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
      <% if take_course.take_course_title.length >= 10 %>
        <%= link_to truncate(take_course.take_course_title, :length => 11), @course_info %>
     <% else %>
        <%= link_to take_course.take_course_title, @course_info %>
      <% end %>
    <% end %>
  <% end %>
</td>
</tr>

<% if @current_member.take_courses.where(take_course_open_time: 5).exists? %>
<tr>
<td class="schedule_label">5</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 5 && take_course.take_course_open_week == "月" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
      <% if take_course.take_course_title.length >= 10 %>
        <%= link_to truncate(take_course.take_course_title, :length => 11), @course_info %>
     <% else %>
        <%= link_to take_course.take_course_title, @course_info %>
      <% end %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 5 && take_course.take_course_open_week == "火" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
      <% if take_course.take_course_title.length >= 10 %>
        <%= link_to truncate(take_course.take_course_title, :length => 11), @course_info %>
     <% else %>
        <%= link_to take_course.take_course_title, @course_info %>
      <% end %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 5 && take_course.take_course_open_week == "水" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
      <% if take_course.take_course_title.length >= 10 %>
        <%= link_to truncate(take_course.take_course_title, :length => 11), @course_info %>
     <% else %>
        <%= link_to take_course.take_course_title, @course_info %>
      <% end %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 5 && take_course.take_course_open_week == "木" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
      <% if take_course.take_course_title.length >= 10 %>
        <%= link_to truncate(take_course.take_course_title, :length => 11), @course_info %>
     <% else %>
        <%= link_to take_course.take_course_title, @course_info %>
      <% end %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 5 && take_course.take_course_open_week == "金" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
      <% if take_course.take_course_title.length >= 10 %>
        <%= link_to truncate(take_course.take_course_title, :length => 11), @course_info %>
     <% else %>
        <%= link_to take_course.take_course_title, @course_info %>
      <% end %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 5 && take_course.take_course_open_week == "土" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
      <% if take_course.take_course_title.length >= 10 %>
        <%= link_to truncate(take_course.take_course_title, :length => 11), @course_info %>
     <% else %>
        <%= link_to take_course.take_course_title, @course_info %>
      <% end %>
    <% end %>
  <% end %>
</td>
</tr>
<% end %>

<% if @current_member.take_courses.where(take_course_open_time: 6).exists? %>
<tr>
<td class="schedule_label">6</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 6 && take_course.take_course_open_week == "月" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
      <% if take_course.take_course_title.length >= 10 %>
        <%= link_to truncate(take_course.take_course_title, :length => 11), @course_info %>
     <% else %>
        <%= link_to take_course.take_course_title, @course_info %>
      <% end %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 6 && take_course.take_course_open_week == "火" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
      <% if take_course.take_course_title.length >= 10 %>
        <%= link_to truncate(take_course.take_course_title, :length => 11), @course_info %>
     <% else %>
        <%= link_to take_course.take_course_title, @course_info %>
      <% end %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 6 && take_course.take_course_open_week == "水" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
      <% if take_course.take_course_title.length >= 10 %>
        <%= link_to truncate(take_course.take_course_title, :length => 11), @course_info %>
     <% else %>
        <%= link_to take_course.take_course_title, @course_info %>
      <% end %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 6 && take_course.take_course_open_week == "木" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
      <% if take_course.take_course_title.length >= 10 %>
        <%= link_to truncate(take_course.take_course_title, :length => 11), @course_info %>
     <% else %>
        <%= link_to take_course.take_course_title, @course_info %>
      <% end %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 6 && take_course.take_course_open_week == "金" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
      <% if take_course.take_course_title.length >= 10 %>
        <%= link_to truncate(take_course.take_course_title, :length => 11), @course_info %>
     <% else %>
        <%= link_to take_course.take_course_title, @course_info %>
      <% end %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 6 && take_course.take_course_open_week == "土" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
      <% if take_course.take_course_title.length >= 10 %>
        <%= link_to truncate(take_course.take_course_title, :length => 11), @course_info %>
     <% else %>
        <%= link_to take_course.take_course_title, @course_info %>
      <% end %>
    <% end %>
  <% end %>
</td>
</tr>
<% end %>

<% if @current_member.take_courses.where(take_course_open_time: 7).exists? %>
<tr>
<td class="schedule_label">7</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 7 && take_course.take_course_open_week == "月" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
      <% if take_course.take_course_title.length >= 10 %>
        <%= link_to truncate(take_course.take_course_title, :length => 11), @course_info %>
     <% else %>
        <%= link_to take_course.take_course_title, @course_info %>
      <% end %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 7 && take_course.take_course_open_week == "火" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
      <% if take_course.take_course_title.length >= 10 %>
        <%= link_to truncate(take_course.take_course_title, :length => 11), @course_info %>
     <% else %>
        <%= link_to take_course.take_course_title, @course_info %>
      <% end %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 7 && take_course.take_course_open_week == "水" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
      <% if take_course.take_course_title.length >= 10 %>
        <%= link_to truncate(take_course.take_course_title, :length => 11), @course_info %>
     <% else %>
        <%= link_to take_course.take_course_title, @course_info %>
      <% end %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 7 && take_course.take_course_open_week == "木" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
      <% if take_course.take_course_title.length >= 10 %>
        <%= link_to truncate(take_course.take_course_title, :length => 11), @course_info %>
     <% else %>
        <%= link_to take_course.take_course_title, @course_info %>
      <% end %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 7 && take_course.take_course_open_week == "金" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
      <% if take_course.take_course_title.length >= 10 %>
        <%= link_to truncate(take_course.take_course_title, :length => 11), @course_info %>
     <% else %>
        <%= link_to take_course.take_course_title, @course_info %>
      <% end %>
    <% end %>
  <% end %>
</td>
<td class="schedule_detail">
  <% @current_member.take_courses.each do |take_course| %>
    <% if take_course.take_course_open_time == 7 && take_course.take_course_open_week == "土" %>
      <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
v    <% end %>
  <% end %>
</td>
</tr>
<% end %>

</table>
</div>
  <% points = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30] %>
  <% @current_member.take_courses.each do |take_course| %>
    <% @course_info = CourseInfo.find_by_id(take_course.course_info_id) %>
      <div class="take_course_detail" >
        <p class="take_course_detail_title"><%= take_course.take_course_title %></p>
        <%= form_for take_course do |form| %>
          <p class="take_course_detail_label">遅刻
          <%= form.select :take_course_late_point, points %></p>
          <p class="take_course_detail_label">欠席
          <%= form.select :take_course_absent_point, points %></p>
          <p>メモ</p>
          <%= form.text_area :take_course_note, rows: 8, cols: 25, :placeholder => "この講義のことをメモしよう！" %>
          <p align="right"><%= form.submit "更新", :class => "take_course_detail_button"%></p>
        <% end %>
      </div>
  <% end %>


<% if @current_member.try(:administrator?) %>
<p class="edit"><%= link_to "パスワード変更", :edit_account %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to "退会", @current_member, method: :delete, confirm: "本当に退会しますか？"%></p>
<% end %>
<%= render "accountview" %>
